<div [class]="name" class="customMultiSelect">
  <div [ngStyle]="{'font-size': fontSizePx+'px'}" fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field style="width: 100%" [appearance]="appearance">
      <mat-label *ngIf="withLabel" [ngStyle]="{'color': labelColor}">{{label}}</mat-label>
      <mat-select #sl [formControl]="formControl" [placeholder]="placeholder" [(value)]="matSelectValue"
        [required]="required" (selectionChange)="onMatSelectChange($event.value)"
        (openedChange)="onMatOpenedChange($event)" [multiple]="true" #multiSelect>
        <mat-select-trigger>
          <mat-chip-list>
            <ng-container *ngFor="let topping of formControl.value;let i = index;">
              <mat-chip fxLayoutGap="1px" style="min-height: 25px; font-size: .9em;" *ngIf="i <= conditionalNumber + 1"
                [removable]="!isDisabled" (removed)="onToppingRemoved(topping)">
                {{ i > conditionalNumber ? '...' : topping.text }}
                <mat-icon *ngIf="i <= conditionalNumber" matChipRemove>cancel</mat-icon>
              </mat-chip>
            </ng-container>
          </mat-chip-list>
        </mat-select-trigger>
        <div class="mat-option-container">
          <mat-option>
            <ngx-mat-select-search [toggleAllCheckboxIndeterminate]="isIndeterminate"
              [toggleAllCheckboxChecked]="isChecked" (toggleAll)="toggleSelectAll($event)"
              [formControl]="optionMultiFilterCtrl" [toggleAllCheckboxTooltipMessage]="tooltipMessage"
              [toogleAllCheckboxTooltipPosition]="'above'" [searching]="searching" placeholderLabel="جستجو ..."
              noEntriesFoundLabel="یافت نشد"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let option of filteredOptionsMulti | async" [value]="option" [disabled]="isDisabled">
            {{option.text}}
          </mat-option>
        </div>
      </mat-select>
    </mat-form-field>
  </div>
</div>
